|===
| 오류 코드 | 오류 메시지 | Http status code | Http status message

{{#fields}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{msg}}{{/tableCellContent}}
|{{#tableCellContent}}{{statusCode}}{{/tableCellContent}}
|{{#tableCellContent}}{{statusMessage}}{{/tableCellContent}}
{{/fields}}
|===